<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSemVer" version="0.30.0-p" targetFramework="net461" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net461" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net461" />
  <package id="SimpleGitVersionTask" version="0.23.0-b01-00-explore-0009" targetFramework="net461" />
</packages>