<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Common" version="0.20.0" targetFramework="net461" />
  <package id="Cake.Core" version="0.20.0" targetFramework="net461" />
  <package id="CSemVer" version="0.30.0-a00-00-develop-0002" targetFramework="net461" />
  <package id="SimpleGitVersionTask" version="0.22.0-r" targetFramework="net461" developmentDependency="true" />
</packages>